<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center">
  <div class="col col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="container-fluid row">
          <div class="col-md-2">
            <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" %>
          </div>

          <%= search_form_for @search, url: search_invoices_path, html: {class: "form-inline col-md-10 justify-content-center", method: :post} do |f| %>
            <div class="input-daterange col-md-8 row justify-content-around">
              <div class="col-md-4">
                <%= f.text_field :date_gteq, class: "form-control date_gteq", placeholder: "Date >= to" %>
              </div>
              <div class="col-md-4">
                <%= f.text_field :date_lteq, class: "form-control date_lteq", placeholder: "Date <= to" %>
              </div>
            </div>

            <div class="col-md-4 form-actions">
              <%= f.submit "Search", class: "btn btn-success" %>
            </div>
            
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Company</th>
              <th>Contragent</th>
              <th>Amount</th>
              <th>Date</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @invoices.each do |invoice| %>
              <tr>
                <td><%= invoice.company %></td>
                <td><%= invoice.contragent %></td>
                <td><%= invoice.amount %> <%= invoice.currency %></td>
                <td><%= invoice.date %></td>
                <td><%= link_to 'Show', invoice %></td>
                <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
                <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
  </div>
</div>
